@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.section1 {
    padding: 100px;
    height: 100vh;
    background: linear-gradient(to right, #A97C4C, #7F5D39);
    display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: 'Poppins', sans-serif;
}