body, html {
     height: 100%;
     width: 100%;
          text-align: center;
              background: linear-gradient(to bottom, #7B3F00, #954535, #D2B48C);
}
  
  h1 {
  font-family: "Protest Riot", sans-serif;
  color: #f2dfe3;
  text-shadow: 2px 2px 2px #000;
  
  }

  p {
  font-size: 16px;
  font-family: "Protest Riot", sans-serif;
  color: #aca3a3;
  text-shadow: 2px 2px 2px #000000;
  
  }
